@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply bg-primary text-dark font-bold py-2 px-10 rounded-full fredoka-heading;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-secondary {
  @apply bg-complimentary text-dark font-bold py-2 px-10 rounded-full fredoka-heading;
}

.btn-normal {
  width: 250px;
}

.btn-small {
  width: 150px;
}

.btn-xsmall {
  width: 100px;
}

.fredoka-heading {
  @apply text-dark;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.inter-parag {
  @apply text-dark;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.nav-link {
  @apply text-primary;
}

.links:hover {
  opacity: 80%;
}

.form-labels {
  @apply text-dark fredoka-heading;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Home page media queries */
@media (max-width: 1340px) {
  .hero-heading {
    @apply text-3xl btn-xsmall 
  }

  .hero-img-div {
    @apply pr-20 w-2/3
  }

  .div-hero-header {
    @apply gap-5
  }



}

@media (max-width: 1024px) {
  .hero-heading {
    @apply text-2xl btn-xsmall 
  }

  .hero-img-div {
    @apply pr-20 w-2/3
  }

  .div-hero-header {
    @apply gap-5
  }

}

@media (max-width: 845px) {
  .hero-heading {
    @apply text-xl btn-xsmall
  }

  .hero-div {
    @apply justify-center pt-5 pb-5
  }

  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-img-div {
    display: none;
  }

  .div-hero-header {
    @apply gap-5
  }
}

@media (max-width: 460px) {

  
}